.about_parent {


}

.about_developers{
    // background-color: purple;
    font-size: 40px;
    text-align: center;
    width: 100vw;
}

.about_people_container {
    // background: hotpink;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    // width: 100vw;
}

.about_person {
    align-items:center;
    align-self: center;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px;
    border: 3px solid #3c599b;
    margin: 10px;
    margin-right: 20px;
}

.about_headshot {
    width: 340px;
  
    // margin-left: 18px;
}

.about_creator_name {
    // background: green;
    font-size: $creator-name-font-size;
}

.about_creator_details {
    // background: gold;
    max-width: 380px;
}

.about_profile_pic{
   display:flex;
   align-items: center;
   padding-top: 20px;
   padding: 20px;

}
.about_linkedin{
    // background-color: orange;
    font-size: 20px;
}
.about_github{
    // background-color:green;
    font-size:20px;
    
}


.about_github_bottom{
    margin-bottom: 70px;
}



