.About_parent {

}

.About_peopleContainer {
    background: hotpink;
}

.About_headshot {
    width: 200px;

}

.About_creatorName {
    background: green;
}

.About_creatorDetails {
    background: gold;
}

