.App {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // align-items: stretch;
    align-content: stretch;
    min-height: 100vh;
}

.App_routesContainer {

}

.App_navContainer .big {
    margin-right: 0;
    padding-right: 0;
}

