.App {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.App_navContainer {
    align-self: stretch;
    widows: 20vw;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
}

.App_routesContainer {
    align-self: stretch;
    order: 0;
    width: 80vw;
}