.App {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;;
    // min-height: 100vh;
    overflow-x: hidden;
}

.app_routes_container {
    flex: 5;
}

.app_nav_container {
    flex: 1;
    // width: 100vw;
    z-index: 5;
    bottom: 0;
    position: fixed;
}




