@import '../mixins';

.creator_event_parent{
    border: 3px solid #3c599b;
    box-shadow: 5px 3px 3px #2f4885;
    color: $facebook-blue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;

    .creator_specific_event_top {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100vw;

        .specific_event_name{
            margin: 25px 0 25px 0;
        }

        .creator_event_photo {
            margin: 5px 0 5px 0;
            width: 100vw;
            align-self: stretch;
            order: 0;
            flex: 0 0 0px;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 90px;
            border: 3px solid #3c599b;
            box-shadow: 5px 3px 3px #2f4885;
        }

        .specific_event_top_info {
            p {
                font-size: 25px;
            }
            align-content: center;
            
            margin: auto;
            margin-top: 30px;
            text-align: center;
            // display: flex;
            align-items: center;
            align-content: center;
            .creator_start_time {
                text-align: center;
            }
        }

    }

    .creator_specific_event_bottom {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        // overflow: auto;
        justify-content: space-around;
        width: 100vw;
        .specific_items_title {
            margin-top: 20px;
            font-size: 40px;
        }
        .specific_event_item {
            width: 90vw;
            margin: auto;
            overflow: auto;
            margin-bottom: 50px;
            // padding-bottom: 200px;
        }
        input {
            font-size: 15px;
        }
        p {
            font-size: 20px;
        }

.creator_specific_event_add_item{
    margin: 0 15vw 200px 15vw;
    border: 3px solid #3c599b;
        box-shadow: 5px 3px 3px #2f4885;
}
.requested_items_name{
    border: 3px solid #3c599b;
        box-shadow: 5px 3px 3px #2f4885;
}
.requested_items_buttons{
    border: 3px solid #3c599b;
        box-shadow: 5px 3px 3px #2f4885;
}


.icon_profile_photo {
    margin-top: 5px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid $facebook-blue;
}

.individual_bring_item {
    margin: auto;
    font-size: 20px;
    border: 2px solid $facebook-blue;
    max-width: 200px;
    padding-bottom: 20px;
    text-align: center;
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px;

}
.specific_event{
    margin-bottom:30px;
    margin-left: 220px;
  
}
h1{
    margin-bottom: 15px;
}
.specific_event_table{
   border: 3px solid #3c599b;
    width: 50%;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 3px 3px #2f4885;
    align-items:center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

    margin-left: 0px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.specific_event_item{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    
    max-height: 400px;
    align-self: stretch;
 

    align-items: center;
  
    max-width: 400px;
    padding: 10px;
}


}


}








@media (min-width: 500px) {
    .creator_event_parent {
        margin-left: 210px;
        // background-color: orange;
        border: 3px solid #3c599b;
        box-shadow: 5px 3px 3px #2f4885;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    .creator_specific_event_top {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 100vw;
            .creator_event_photo {
                align-self: stretch;
                order: 0;
                flex: 0 0 0px;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 90px;
                margin: auto;
                width: 60vw;
                border: 3px solid #3c599b;
                box-shadow: 5px 3px 3px #2f4885;
            }
    }
    .creator_specific_event_bottom {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        // overflow: auto;
        justify-content: space-around;
        width: 100vw;
        .specific_items_title {
            
        }

        .specific_event_item {
            // width: 90vw;
            margin: auto;
            overflow: initial;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: space-evenly;
            align-content: space-around;
            .requested_items {
                align-self: stretch;
                order: 0;
                flex: 0 0 0px;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 90px;
                .requested_items_buttons {
                    margin: 0 5px 0 5px;
                }
            }
    }

    .creator_specific_event_add_item {
       margin: auto;
       margin-bottom: 100px;
        
    }
    }
}
}


.myButton{
    @include button
}

.individual_bring_item {
    margin-right: 50px;
    margin-bottom: 10px;
}



table {
    border: 2px solid #3c599b;
    box-shadow: 5px 3px 3px #2f4885;
}

      
      table {
        // width: 30%;
        // margin: 5px auto;
        table-layout: auto;
      }
      
      .fixed {
        table-layout: fixed;
      }
      
      table,
      td,
      th {
        border-collapse: collapse;
      }
      
      th,
      td {
        padding: 5px;
        border: solid purple 3px;
        box-shadow: 5px 3px 3px #2f4885;
        // text-align: center;
      }
    