@import '../mixins';

.requested_items{
    display:flex;
  flex-wrap: wrap;
       
}
.specific_event{
    margin-bottom:30px;
    padding: 10px
}
h1{
    margin-bottom: 15px;
}
.specific_event_table{
   border: 3px solid blue;
    width: 50%;
    margin: 10px;
    padding: 10px
}
.specific_event_item{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    justify-content: center;
    height:350px;
	// align-items: center;
    align-content: flex-start;
    // width: 50%;
}



.creator_event_parent{
    margin-left: 50px;
    border: 3px solid blue;
}
@media (min-width: 500px) {
    .creator_event_parent {
        margin-left: 210px;
        background-color: orange;
        border: 3px solid blue;
     
    }

}
.specific_event_event_photo {
    max-width: 200px;
    padding: 10px;
}

.myButton{
    @include button
}



table {
    border: 2px solid blue;
}
    body {
        padding: 8px;
        // text-align: center;
      }
      
      table {
        // width: 30%;
        // margin: 5px auto;
        table-layout: auto;
      }
      
      .fixed {
        table-layout: fixed;
      }
      
      table,
      td,
      th {
        border-collapse: collapse;
      }
      
      th,
      td {
        padding: 5px;
        border: solid purple 3px;
        // text-align: center;
      }
