@import '../mixins';

.requested_items{
//     display:flex;
//   flex-wrap: wrap;
//   margin: auto;
//   font-size: 20px;
//   border: 2px solid $facebook-blue;
//   max-width: 200px;
//   padding-bottom: 20px;
//   text-align: center;
//   align-self: stretch;
//   order: 0;
//   flex: 0 0 0px;
//   flex-grow: 0;
//   flex-shrink: 0;
//   flex-basis: 90px;
       
}

// .requested_items_grid{
//     margin: auto;
//     font-size: 20px;
//     border: 2px solid $facebook-blue;
//     max-width: 200px;
//     padding-bottom: 20px;
//     text-align: center;
//     align-self: stretch;
//     order: 0;
//     flex: 0 0 0px;
//     flex-grow: 0;
//     flex-shrink: 0;
//     flex-basis: 90px;
// }


.icon_profile_photo {
    margin-top: 5px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid $facebook-blue;
}

.individual_bring_item {
    margin: auto;
    font-size: 20px;
    border: 2px solid $facebook-blue;
    max-width: 200px;
    padding-bottom: 20px;
    text-align: center;
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px;

}
.specific_event{
    margin-bottom:30px;
    padding: 10px
}
h1{
    margin-bottom: 15px;
}
.specific_event_table{
   border: 3px solid #3c599b;
    width: 50%;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 3px 3px #2f4885;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.specific_event_item{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    justify-content: center;
    height:350px;
    align-content: flex-start;

    margin-left: 250px;
    max-height: 400px;
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 500px;
}
.specific_event_name{
    text-align: center;
    margin-top: 20px;
}



.creator_event_parent{
    margin-left: 50px;
    border: 3px solid #3c599b;
    box-shadow: 5px 3px 3px #2f4885;
    color: $facebook-blue;
}

.specific_event_table{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    // overflow: hidden;
    justify-content: space-around;
 }

@media (min-width: 500px) {
    .creator_event_parent {
        margin-left: 210px;
        // background-color: orange;
        border: 3px solid #3c599b;
        box-shadow: 5px 3px 3px #2f4885;
     
    }

}
.specific_event_event_photo {
    width: 70%px;
    border: 3px solid #3c599b;
    box-shadow: 5px 3px 3px #2f4885;
}

.myButton{
    @include button
}

.individual_bring_item {
    margin-right: 50px;
    margin-bottom: 10px;
}



table {
    border: 2px solid #3c599b;
    box-shadow: 5px 3px 3px #2f4885;
}
    body {
        padding: 8px;
        // text-align: center;
      }
      
      table {
        // width: 30%;
        // margin: 5px auto;
        table-layout: auto;
      }
      
      .fixed {
        table-layout: fixed;
      }
      
      table,
      td,
      th {
        border-collapse: collapse;
      }
      
      th,
      td {
        padding: 5px;
        border: solid purple 3px;
        box-shadow: 5px 3px 3px #2f4885;
        // text-align: center;
      }
