.main{
    background:  #dfdfdf;
}

.hide_event{
    display:none;
}

// .show_event{
    
// }

.feed_event_photo {
    max-width: 100%;
    text-align:center;
}
.logo{
    width: 100%
}
.feed_title{
   
}

.feed_event{
    color: #3c599b;
    // background:paleturquoise;
    min-height: 65px;
    font-size: 30px;
    margin-left: 20px;
}

.feed_event{
    margin-top: 20px;
    
}

.feed_event p{
    font-size: 50px; 
    vertical-align: middle;
    text-align: center;
   
}

.feed_group{
    border: 3px solid #3c599b;
}

.feed_event_name{
    // background:red;
    font-size: 50px;
    color:#3c599b;
    min-height: 80px;
    text-align:center;
    vertical-align:middle;
    //    margin-left: 40%;
    
}

.feed_event_description{
    background:green;
    font-size: 20px;
    color:#3c599b;
    text-align: center;
    
}

.feed_event_date{
    background:orange;
    font-size: 20px;
    text-align:center;
    color: #3c599b;
    
}

.feed_footer{
    height:85px;
}

.feed_big{
    margin-left: 190px;
    padding: 0px 10px;
}


.feed_parent small{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

@media (min-width: 500px){
    .feed_event_photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}