.Feed_eventPhoto {
    max-width: 100%;
    text-align:center;
}

.Feed_title{
    font-size: 70px;
}

.Feed_event{
    color: blue; 
    background:paleturquoise;
    min-height: 90px;
    font-size: 30px;
}
.Feed_event p{
    font-size: 50px; 
    vertical-align: middle;
    text-align: center;
}

.Feed_group{
    border: 3px solid blue;
}
.Feed_event_name{
    background:red;
    font-size: 50px;
    color: blue;
    min-height: 80px;
    text-align:center;
    vertical-align:middle;
    //    margin-left: 40%;
    
}

.Feed_event_description{
    background:green;
    font-size: 20px;
    color: blue;
    text-align: center;
    
}
.Feed_event_date{
    background:orange;
    font-size: 20px;
    text-align:center;
    
}

.Feed_footer{
    height:85px;
}



.Feed_big{
    margin-left: 190px;
    padding: 0px 10px;
}
.Feed_blank{
    height: 25px;
}
.Feed_blank_small{
    height:15px;
}
.Feed_parent small{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
@media (min-width: 500px){
    .Feed_eventPhoto {
        margin-left: 30%
    }
}