.Footer_parent {
    
}

.Footer_appName {
    text-align: center;
    margin: 50px;
    margin-bottom: 0px;
    color: $facebook-blue;
}

.Footer_aboutParagraphMobile {
    padding: 50px 20px 80px 20px;
    text-align: center;
    line-height: 1.5
}
