.header_parent {
    // width: 100vw;
    
}

.header_image_mobile {
height: 50vh;
// width: 90vw;
margin: 20px;
border: $facebook-blue 2px solid;
}

.header_image_desktop {
    width: 60vw;
    margin: 0 0 0 0;
}


