.header_parent {
    
}

.header_title{
    width: 100%;
} 

.title_logo{
    width: 100%;
}

.header_image{
    height: 50vh;
    margin: 20px;
    border: $facebook-blue 2px ;
    box-shadow: 5px 3px 3px #2f4885;
}

@media (min-width: 500px) {

    .header_big{
        // min-height: 60px;
        width: 100%;
        margin-left: 70px;  
        margin-right:auto; 
    }
    .header_title{
        width:800px;
        margin:auto;
        
    }
    .title_logo{
        margin: auto;
        width: 100%;
    }
    .header_image{
        margin-left: 150px;
        margin-right: auto;
        height: auto;
        width: 80%;
        border: 3px solid #3c599b;
        box-shadow: 5px 3px 3px #2f4885;
    }
    .header_parent {
        margin: 1% 0 1% 10%;
    }
}



