.Home_parent {
    background: springgreen;
    color: $facebook-blue;
    font-size: 30px;
    width: 100vw;
    margin: 0;
    align-content: center;
    align-items: center;
    align-self: auto;
    // margin-left: 18vw;
}

.Home_header {
    color: $facebook-blue;
}