@import '../mixins';

.host_specific_name{
background: red;
}
.host_specific_reminder{
    background:green;
}
.host_specific_map{
    background:orange;
}
.specific_event_event_photo{
    background: pink;
}


.host_specific_requested_items{
    background: purple;
}
.host_specific_needed_items{
    background: yellow;
}
