@import '../variables';

.specific_event_parent {
    color: $facebook-blue;
}

.icon_profile_photo {
    margin-top: 5px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid $facebook-blue;
}

.host_event_name {
    text-align: center;
    margin-top: 20px;
}

.specific_event_event_photo {
    margin: 0 0 0 25px;
    width: 300px;
    padding: 10px;
    border: 1px solid #3c599b;
    background: #395CA9;
    box-shadow: 5px 3px 3px #2f4885;
}


.host_event_info {
    margin: 20px;
    text-align: center;
}

.host_event_info > p {
    margin: 8px;
    font-size: 14px;
}

.needed_items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    // justify-content: space-around;
}

.my_items_title {
    font-size: 30px;
    text-align: center;
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    // flex-basis: 90px;
}

.requested_items_list {
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 80px;
}

.individual_bring_item {
    margin: 20px auto 10px auto;
    font-size: 20px;
    border: 2px solid $facebook-blue;
    max-width: 200px;
    padding-bottom: 20px;

}



h2 {
    width: 43vw;
}

@media (min-width: 500px){

    
    .specific_event_event_photo {
        margin-left: none;
        width: 300px;
        padding: 10px;
        border: 1px solid #3c599b;
        background: #395CA9;
        box-shadow: 5px 3px 3px #2f4885;
    }

}