.Nav_parent {
    background: $facebook-blue;
}

.button {
    // margin-right: 20px;
}

.Nav_container  {
    width: 101vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    bottom: 0;
    // position: fixed;
    z-index: 5;
}

.Nav_mobileIcons {
    margin: 3px 20px 15px 20px;
    text-align: center;
    white-space: nowrap;
}

.Nav_linkMobile {
    margin: 0 16px 15px 16px;
    text-decoration: none;
}


.Nav_desktopLink {
    margin: 70px 50px 75px 50px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    font-size: $primary-font-size-paragraph-small;
    font-family: $primary-font-family;
}


