@import '../variables';

.nav_parent {
    background: $facebook-blue;
    border: 2px solid white;
}

.button:hover {
    cursor: pointer;
}

.nav_container  {
    width: 100vw;
    height: 100%;
    // bottom: 0;
    // z-index: 5;
    // position: fixed;
  
}

.nav_icon_container {
    // border: 2px solid white;
    // padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
} 


// .Nav_mobileIcons {
//     margin: 3px 20px 15px 20px;
//     text-align: center;
//     white-space: nowrap;
// }

.nav_link_mobile{
    color: white;
    margin: 5px 16px 15px 16px;
    text-decoration: none;
}


.nav_desktop_link {
    margin: 40px 50px 75px 50px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    font-size: $primary-font-size-paragraph-small;
    font-family: $primary-font-family;
}

.nav_desktop_link:hover {
    cursor: pointer;
    background: $highlight-nav;
}

