

.specific_event_parent {
    // margin-left: 50px;
    border: 3px solid blue;
    margin-bottom:80px;
}

.specific_event_name{
    background: purple;
    margin:5px;
    text-align: center;
}

.specific_event_photo {
    background: green;
    margin-left:20px;
    max-width: 300px;
    padding: 10px;
}
.specific_event_map{
    margin-left:20px;
    background:yellow;
    max-width: 100px;
}
.specific_event_info{
    margin-left:20px;
    padding: 10px;
    background: orange;
}

.event-map {
    height: 30vh;
    width: 55vw;
}

.requested_items{
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
.requested_items_table{
    max-width:160px;
    // background:green;
}
.requested_item_name{
    // background:yellow;
    max-width: 100px;
}
.will_bring_table{
    text-align: center;
    background:red;
    max-width: 160px;
    border: 3px solid blue;
}

.will_bring_items{
    // background:green;
    margin: 10px;
}

@media (min-width: 500px) {
    .specific_event_parent {
        margin-left: 210px;
        border: 3px solid blue;
    }

    .requested_items {
        justify-content: space-between;
        // background-color: purple;
        padding: 10px;
         display:flex;
         flex-wrap: wrap;
    }

    .needed_items {
        align-self: stretch;
        order: 0;
        flex: 0 0 0px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 90px;
    }

    .will_bring {
        align-self: stretch;
        order: 0;
        flex: 0 0 0px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 90px;
    }

}