.big {
    display: none;
}

@media (min-width: 380px) {
    .small {
        display: none;
    }

    .big {
        display: initial;
    }

    .App_navContainer .big {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-evenly;
        color: white;
        text-decoration: none;
    }


}