// ==== COLORS ==== // 

$facebook-blue: #395CA9;



// ==== FONTS ==== // 

$primary-font-family:  'Patua One', cursive;
$primary-font-size-paragraph-small: 15px;
$primary-font-size-paragraph-large: 20px;
$primary-font-size-header-small: 20px;
$primary-font-size-header-large: 27px;
$creator-name-font-size: 30px;


// ====  IMAGES ==== // 


// ==== STYLES ==== // 

