// ==== COLORS ==== // 

$autumn-foliage: #763626;
$stone: #336B87;



// ==== FONTS ==== // 

$primary-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$primary-font-size-paragraph-small: 15px;
$primary-font-size-paragraph-large: 20px;
$primary-font-size-header-small: 20px;
$primary-font-size-header-large: 27px;



// ====  IMAGES ==== // 


// ==== STYLES ==== // 

