html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

body {
  font-family: "Patua One", cursive; }
  body p {
    font-size: 15px; }
  body h1 {
    font-size: 20px; }

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch; }

.App_routesContainer {
  flex: 5; }

.App_navContainer {
  flex: 1;
  z-index: 5;
  bottom: 0;
  position: fixed; }

.Home_parent {
  color: #395CA9; }

.Home_header {
  color: #395CA9; }

.About_developers {
  background-color: purple;
  font-size: 40px;
  text-align: center;
  width: 100vw; }

.About_peopleContainer {
  background: hotpink;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.About_person {
  align-items: center;
  align-self: center;
  order: 0;
  flex: 0 0 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 90px; }

.About_headshot {
  width: 340px; }

.About_creatorName {
  background: green;
  font-size: 30px; }

.About_creatorDetails {
  background: gold; }

.About_profile_pic {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding: 20px; }

.About_linkedin {
  background-color: orange;
  font-size: 20px; }

.About_github {
  background-color: green;
  font-size: 20px; }

.About_footer {
  height: 70px; }

.Header_imageMobile {
  height: 50vh;
  margin: 20px;
  border: #395CA9 2px solid; }

.Header_imageDesktop {
  width: 60vw;
  margin: 0 0 0 0; }

.Footer_appName {
  text-align: center;
  margin: 50px;
  margin-bottom: 0px;
  color: #395CA9; }

.Footer_aboutParagraphMobile {
  padding: 50px 20px 80px 20px;
  text-align: center;
  line-height: 1.5; }

.Nav_parent {
  background: #395CA9; }

.button:hover {
  cursor: pointer; }

.Nav_container {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  bottom: 0;
  z-index: 5; }

.Nav_mobileIcons {
  margin: 3px 20px 15px 20px;
  text-align: center;
  white-space: nowrap; }

.Nav_linkMobile {
  margin: 0 16px 15px 16px;
  text-decoration: none; }

.Nav_desktopLink {
  margin: 40px 50px 75px 50px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 15px;
  font-family: "Patua One", cursive; }

.Nav_desktopLink:hover {
  cursor: pointer; }

.Feed_eventPhoto {
  max-width: 100%; }

.Feed_title {
  font-size: 50px; }

.Feed_event {
  font-size: 30px;
  color: blue; }

.Feed_group {
  border: 3px solid blue; }

.Feed_event_name {
  background: red;
  font-size: 50px;
  color: black; }

.Feed_event_description {
  background: green;
  font-size: 20px;
  color: blue; }

.Feed_event_date {
  background: orange;
  font-size: 20px; }

.Feed_footer {
  height: 90px; }

.Feed_big {
  margin-left: 190px;
  padding: 0px 10px; }

.Feed_blank {
  height: 25px; }

.Specific_event_parent {
  margin-left: 50px; }

.SpecificEvent_eventPhoto {
  max-width: 200px; }

.event-map {
  height: 40vh;
  width: 55vw; }

@media (min-width: 500px) {
  .Specific_event_parent {
    margin-left: 220px; } }

.big {
  display: none; }

@media (min-width: 500px) {
  .small {
    display: none; }
  .big {
    display: initial; }
  .Nav_parent {
    width: 200px; }
  .App_navContainer .big {
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-evenly;
    color: black;
    text-decoration: none; }
  .Nav_container .big {
    width: 18vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    bottom: 0;
    background: #395CA9; }
  .Nav_container {
    height: 100vh; }
  .Home_parent {
    margin-left: 20%; }
  .Header_parent {
    margin: 3% 0 5% 10%; }
  .Header_imageDesktop {
    border: #395CA9 2px solid; }
  .Footer_parent {
    margin: 0% 0 0% 10%; }
  .Footer_appName {
    margin: 0 150px 20px 0; }
  .Footer_aboutParagraphDesktop {
    margin-right: 120px; }
  .Feed_parent {
    margin-left: 220px; }
  a .Nav_desktopLink {
    color: blue; } }
