html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

body {
  font-family: "Patua One", cursive; }
  body p {
    font-size: 15px; }
  body h1 {
    font-size: 20px; }

.App {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  min-height: 100vh; }

.App_navContainer .big {
  margin-right: 0;
  padding-right: 0; }

.Home_parent {
  background: springgreen;
  color: blue;
  font-size: 30px;
  width: 103vw;
  margin: 0;
  align-content: center;
  align-items: center;
  align-self: auto; }

.Home_header {
  color: blue; }

.About_peopleContainer {
  background: hotpink;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100vw; }

.About_person {
  align-self: center;
  order: 0;
  flex: 0 0 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 90px; }

.About_headshot {
  width: 340px; }

.About_creatorName {
  background: green;
  font-size: 30px; }

.About_creatorDetails {
  background: gold; }

.Header_imageMobile {
  height: 50vh;
  width: 90vw;
  margin: 20px;
  border: #395CA9 2px solid; }

.Header_imageDesktop {
  width: 60vw; }

.Footer_appName {
  text-align: center;
  margin: 50px;
  color: #395CA9; }

.Footer_aboutParagraph {
  width: 100vw;
  text-align: justify;
  font-size: 20px;
  color: #395CA9;
  margin: 20px 0 0px 0;
  padding: 20px 20px 60px 20px; }

.Nav_parent {
  background: #395CA9; }

.Nav_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  bottom: 0;
  background: #395CA9;
  position: fixed; }

.Nav_mobileIcons {
  margin: 3px 20px 15px 20px;
  text-align: center;
  white-space: nowrap; }

.Nav_linkMobile {
  margin: 0 16px 15px 16px;
  text-decoration: none; }

.Nav_desktopLink {
  margin: 70px 0px 75px 50px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 15px;
  font-family: "Patua One", cursive; }

.Feed_eventPhoto {
  max-width: 100%; }

.SpecificEvent_eventPhoto {
  max-width: 200px; }

.event-map {
  height: 40vh;
  width: 55vw; }

.big {
  display: none; }

@media (min-width: 380px) {
  .small {
    display: none; }
  .big {
    display: initial; }
  .App_navContainer .big {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-evenly;
    color: black;
    text-decoration: none; }
  .Nav_container {
    width: 18vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    bottom: 0;
    background: #395CA9;
    position: fixed; }
  .Footer_parent .big {
    width: 50vw;
    text-align: justify;
    font-size: 20px;
    color: #395CA9;
    margin: 20px 0 0px 0;
    padding: 20px 20px 60px 20px; } }
