html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

body {
  font-family: "Patua One", cursive;
  background-color: #dfdbdd; }
  body p {
    font-size: 15px; }
  body h1 {
    font-size: 20px; }

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  overflow-x: hidden;
  background: #dfdbdd; }

.app_routes_container {
  flex: 5; }

.app_nav_container {
  flex: 1;
  z-index: 5;
  bottom: 0;
  position: fixed; }

.home_parent {
  color: #395CA9;
  background: #dfdbdd; }

.home_header {
  color: #395CA9; }

.about_parent {
  color: #395CA9; }

.about_developers {
  font-size: 40px;
  text-align: center;
  width: 100vw; }

.about_people_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.about_person {
  align-items: center;
  align-self: center;
  order: 0;
  flex: 0 0 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 90px;
  border: 3px solid #3c599b;
  margin: 10px;
  margin-right: 20px;
  box-shadow: 5px 3px 3px #2f4885; }

.about_headshot {
  width: 340px; }

.about_creator_name {
  font-size: 30px; }

.about_creator_details {
  max-width: 380px; }

.about_profile_pic {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding: 20px; }

.about_linkedin {
  font-size: 20px; }

.about_github {
  font-size: 20px; }

.about_github_bottom {
  margin-bottom: 70px; }

.header_title {
  width: 100%; }

.title_logo {
  width: 100%; }

@media (min-width: 500px) {
  .header_big {
    width: 100%;
    margin-left: 70px;
    margin-right: auto; }
  .header_title {
    width: 800px;
    margin: auto; }
  .title_logo {
    margin: auto;
    width: 100%; }
  .header_parent {
    margin: 1% 0 1% 10%; } }

.footer_app_name {
  text-align: center;
  margin: 50px;
  margin-bottom: 0px;
  color: #395CA9; }

.footer_about_paragraph {
  padding: 40px 20px 40px 20px;
  text-align: center;
  line-height: 1.5; }

.footer_image {
  height: 50vh;
  margin: 20px;
  border: #395CA9 2px;
  box-shadow: 5px 3px 3px #2f4885; }

@media (min-width: 500px) {
  .footer_about_paragraph {
    text-align: center; }
  .footer_image {
    margin-left: 150px;
    margin-right: auto;
    height: auto;
    width: 80%;
    border: 3px solid #3c599b;
    box-shadow: 5px 3px 3px #2f4885; } }

.nav_parent {
  background: #395CA9;
  box-shadow: 5px 3px 3px #2f4885; }

.button:hover {
  cursor: pointer; }

.nav_container {
  width: 100vw;
  height: 100%; }

.nav_icon_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center; }

.nav_link_mobile {
  color: white;
  margin: 5px 16px 15px 16px;
  text-decoration: none; }

.nav_desktop_link {
  margin: 40px 50px 75px 50px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 15px;
  font-family: "Patua One", cursive; }
  .nav_desktop_link.active {
    text-decoration: underline;
    font-size: 18px; }

.nav_desktop_link:hover {
  cursor: pointer;
  background: royalblue; }

.main {
  background: #dfdfdf; }

.hide_event {
  display: none; }

.feed_event_photo {
  max-width: 100%;
  text-align: center;
  border: 3px solid #3c599b;
  box-shadow: 5px 3px 3px #2f4885; }

.feed_logo {
  width: 100%;
  padding: 5px; }

.feed_event {
  color: #3c599b;
  min-height: 60px;
  font-size: 30px;
  margin-left: 20px; }

.feed_event {
  margin-top: 20px; }

.feed_event p {
  font-size: 50px;
  vertical-align: middle;
  text-align: center; }

.feed_group {
  border: 3px  #3c599b;
  margin: 20px;
  border: 3px solid #3c599b;
  box-shadow: 5px 3px 3px #2f4885; }

.feed_event_name {
  margin-top: 20px;
  font-size: 50px;
  color: #3c599b;
  min-height: 60px;
  text-align: center;
  vertical-align: middle; }

.feed_event_description {
  font-size: 20px;
  color: #3c599b;
  text-align: center; }

.feed_event_date {
  font-size: 20px;
  text-align: center;
  color: #3c599b; }

.feed_footer {
  height: 85px; }

.feed_big {
  margin-left: 190px;
  padding: 0px 10px; }

.feed_parent small {
  overflow-x: hidden; }

a {
  text-decoration: none; }

@media (min-width: 500px) {
  .feed_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  .feed_event {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px; }
  .feed_title {
    min-height: 80px;
    width: 800px;
    padding: 30px;
    margin: auto; }
  .feed_event_description {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; } }

.specific_event_parent {
  border: 3px solid #3c599b;
  margin-bottom: 80px;
  font-size: 15px; }

.specific_event_name {
  margin: 5px;
  text-align: center;
  font-size: 30px; }

.specific_event_photo {
  margin-left: 20px;
  width: 300px;
  border: 3px solid #3c599b;
  background: #395CA9;
  box-shadow: 5px 3px 3px #2f4885; }

.specific_event_map {
  margin-left: 15px;
  margin-top: 12px;
  max-width: 100px; }

.specific_event_info {
  margin-left: 20px;
  padding: 10px; }

.event-map {
  height: 30vh;
  width: 90vw;
  border: 2px #395CA9 solid;
  margin-bottom: 15px; }

.specific_event_photo {
  height: 30vh;
  width: 90vw;
  border: 2px #395CA9 solid;
  margin-bottom: 15px; }

.requested_items {
  margin: 5px;
  display: flex;
  justify-content: space-around; }

.requested_item_name {
  max-width: 100px; }

.will_bring_name {
  max-width: 100px; }

.will_bring_table {
  text-align: center;
  border: 3px solid #395CA9;
  box-shadow: 5px 3px 3px #2f4885;
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  max-height: 600px;
  padding: 10px; }

.will_bring_table > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.will_bring_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.items_bringing {
  border: 3px solid #395CA9;
  box-shadow: 5px 3px 3px #2f4885;
  margin: 4px; }

.needed_items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: space-evenly;
  min-height: 200px;
  max-height: 600px;
  border: solid #3c599b 3px;
  box-shadow: 5px 3px 3px #2f4885;
  background: yellow;
  padding: 10px;
  max-height: 100%; }

.requested_items_each {
  align-self: stretch;
  order: 0;
  flex: 0 0 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 90px; }

@media (min-width: 500px) {
  .needed_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .requested_items_each {
    border: 3px solid #395CA9;
    box-shadow: 5px 3px 3px #2f4885;
    margin: 4px; }
  .specific_event_name {
    font-size: 60px; }
  .specific_event_photo {
    margin-left: 220px;
    margin-right: auto;
    width: 70%;
    margin-bottom: 20px;
    border: 3px solid #3c599b;
    box-shadow: 5px 3px 3px #2f4885; }
  .specific_event_map {
    margin-left: 240px;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px; }
  .specific_event_info {
    margin-left: 240px;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 30px; }
  .specific_event_parent {
    margin-left: 210px;
    margin-bottom: 0px; }
  .requested_items_table {
    padding: 10px;
    background: orange; }
  .will_bring_table {
    text-align: center;
    display: flex;
    justify-content: center;
    border: 3px solid #395CA9;
    box-shadow: 5px 3px 3px #2f4885; }
  .will_bring_table > div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px; }
  .requested_item_button {
    border: 3px solid #395CA9;
    box-shadow: 5px 3px 3px #2f4885;
    padding: 5px; }
  .requested_items_container {
    padding: 5px; }
  .requested_items {
    justify-content: space-around;
    padding: 10px; }
  .requested_items > div {
    flex: 1; }
  .requested_list_items {
    max-width: 100px; }
  .needed_items_items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    border: solid #3c599b 3px;
    box-shadow: 5px 3px 3px #2f4885;
    padding: 10px; }
  .will_bring {
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px; }
  .event-map {
    height: 30vh;
    width: 55vw;
    margin: auto;
    border: 3px #395CA9 solid;
    box-shadow: 5px 3px 3px #2f4885;
    margin-bottom: 15px; } }

.icon_profile_photo {
  margin-top: 5px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #395CA9; }

.individual_bring_item {
  margin: auto;
  font-size: 20px;
  border: 2px solid #395CA9;
  max-width: 200px;
  padding-bottom: 20px;
  text-align: center;
  align-self: stretch;
  order: 0;
  flex: 0 0 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 90px; }

.specific_event {
  margin-bottom: 30px; }

h1 {
  margin-bottom: 15px; }

.specific_event_table {
  border: 3px solid #3c599b;
  width: 50%;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 3px 3px #2f4885;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center; }

.specific_event_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 350px;
  align-content: flex-start;
  margin-left: 250px;
  max-height: 400px;
  align-self: stretch;
  order: 0;
  flex: 0 0 0px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 500px; }

.specific_event_name {
  text-align: center;
  margin-top: 20px; }

.creator_event_parent {
  margin-left: 50px;
  border: 3px solid #3c599b;
  box-shadow: 5px 3px 3px #2f4885;
  color: #395CA9; }

.specific_event_table {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around; }

@media (min-width: 500px) {
  .creator_event_parent {
    margin-left: 210px;
    border: 3px solid #3c599b;
    box-shadow: 5px 3px 3px #2f4885; } }

.specific_event_event_photo {
  width: 70%px;
  border: 3px solid #3c599b;
  box-shadow: 5px 3px 3px #2f4885; }

.myButton {
  border-top: 1px solid #0b293b;
  background: #33559e;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3b73), to(#33559e));
  background: -webkit-linear-gradient(top, #1f3b73, #33559e);
  background: -moz-linear-gradient(top, #1f3b73, #33559e);
  background: -ms-linear-gradient(top, #1f3b73, #33559e);
  background: -o-linear-gradient(top, #1f3b73, #33559e);
  padding: 4.5px 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 11px;
  font-family: Georgia, Serif;
  text-decoration: none;
  vertical-align: middle; }
  .myButton:hover {
    border-top-color: #111138;
    background: #111138;
    color: #ccc; }
  .myButton:active {
    border-top-color: #08084d;
    background: #08084d; }

.individual_bring_item {
  margin-right: 50px;
  margin-bottom: 10px; }

table {
  border: 2px solid #3c599b;
  box-shadow: 5px 3px 3px #2f4885; }

table {
  table-layout: auto; }

.fixed {
  table-layout: fixed; }

table,
td,
th {
  border-collapse: collapse; }

th,
td {
  padding: 5px;
  border: solid purple 3px;
  box-shadow: 5px 3px 3px #2f4885; }

.specific_event_parent {
  color: #395CA9; }

.icon_profile_photo {
  margin-top: 5px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #395CA9; }

.host_event_name {
  text-align: center;
  margin-top: 20px; }

.specific_event_event_photo {
  margin-left: 25px;
  width: 300px;
  border: 3px solid #3c599b;
  background: #395CA9;
  box-shadow: 5px 3px 3px #2f4885; }

.host_event_info {
  margin: 20px;
  text-align: center; }

.host_event_info > p {
  margin: 8px;
  font-size: 18px; }

.host_needed_items {
  display: flex;
  margin: 0;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center; }

.my_items_title {
  margin-left: 20px;
  font-size: 30px;
  text-align: center;
  align-self: stretch;
  order: 0;
  flex: 0 0 0px;
  flex-grow: 0;
  flex-shrink: 0; }

.requested_items_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  max-width: 700px;
  margin-bottom: 40px; }

.individual_bring_item {
  margin: auto;
  font-size: 20px;
  border: 2px solid #395CA9;
  max-width: 200px;
  padding-bottom: 20px;
  text-align: center;
  align-self: stretch;
  order: 0;
  flex: 0 0 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 90px; }

h2 {
  width: 43vw; }

@media (min-width: 500px) {
  .specific_event_event_photo {
    margin-left: 240px;
    width: 700px;
    border: 3px solid #3c599b;
    background: #395CA9;
    box-shadow: 5px 3px 3px #2f4885; }
  .host_event .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch; }
  .individual_bring_item {
    margin-right: 50px;
    margin-bottom: 10px; }
  .my_items_title {
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 20px; }
  .requested_items_list {
    margin-left: 260px;
    max-height: 800px;
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 500px; }
  .host_event_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch; } }

.sad_pic {
  height: 300px; }

.page_not_found_parent {
  margin: 100px 0 0px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch; }

.pic {
  width: 80px;
  color: #395CA9; }

.error {
  margin: 80px auto 80px;
  font-size: 40px;
  text-align: center;
  color: #395CA9; }

.icon {
  color: #395CA9; }

.pnf_body {
  order: 0;
  flex: 0 0 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 90px; }

@media (min-width: 500px) {
  .sad_pic {
    height: 300px; }
  .page_not_found_parent {
    margin: 100px 0 0px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch; }
  .pic {
    width: 100px; }
  .error {
    margin-top: 80px;
    font-size: 40px; }
  .pnf_body {
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px; } }

.greeting_parent {
  text-align: center;
  margin: 1% 0 1% 10%;
  margin-left: 220px; }

.big {
  display: none; }

@media (min-width: 500px) {
  .small {
    display: none; }
  .big {
    display: initial; }
  .nav_parent {
    width: 200px; }
  .app_nav_container .big {
    width: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    color: black;
    text-decoration: none; }
  .nav_container .big {
    align-items: center;
    text-align: center;
    bottom: 0;
    background: #395CA9; }
  .nav_container {
    height: 100vh; }
  .header_image_desktop {
    border: #395CA9 2px solid; }
  .footer_parent {
    margin: 0% 0 0% 10%; }
  .footer_app_name {
    margin: 0 150px 20px 0; }
  .footer_about_paragraph_desktop {
    margin-right: 120px; }
  .feed_parent {
    margin-left: 220px; }
  a .nav_desktop_link {
    color: blue; } }
